.left-header {
    width: 100px;
    flex: 0 0 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: $toolbarZ + 2;
    .icons-container {
        position: fixed;
        top: 33%;
    .left-panel-options{
        margin-bottom: 20px; 
        position: relative;
    }
}
    .active-cap {
        position: absolute;
        left: 20px;
        top: 60px;
        width: 0; 
    height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    }
    .tooltip {
        position: absolute;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    .close-icon {
        width: 10px;
        height: 10px;
        top: 10px;
        right: 10px;
    }
    .tooltip__message{
        color: black;
    }
    }
    .icon-wrapper {
        padding: 10px;
        border-radius: 5px;
        background-color: #E7EFF4;
        cursor: pointer;
        &:hover:not(.selected):not(.disabled){
            background-color: #005C85;
            svg {
                color: #e7eff4 !important;
            }
        }
        &.selected{
            background-color: #00C062 !important;
        }
        &.disabled{
            background-color: #F6F6F6 !important;
            pointer-events: none;
        }
    }
    .left-logo {
        width: 55px;
        height: 60px;
        margin-left: 12px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}