.appLoginComponent {
    color: #393939;

    &.overlay {
        position: absolute;
    }

    .divider-line {
            width: 50%;
            border-bottom: 1px solid #9A9A9A;
    }

    .modal {
        // position: absolute;
        z-index: 1010;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 350px;
        max-width: 100%;

        height: 430px;
        max-height: 100%;

        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 12px 40px #00000014;
        border: 1px solid #E7EFF4;
        border-radius: 6px;
        opacity: 1;
        .close-icon {
            top: 16px;
            right: 30px;
        }
        .close-button {
            position: absolute;
            
            /* don't need to go crazy with z-index here, just sits over .modal-guts */
            z-index: 1;
            
            top: 10px;
            
            /* needs to look OK with or without scrollbar */
            right: 20px;
            
            border: 0;
            background: black;
            color: white;
            padding: 5px 10px;
            font-size: 1.3rem;
          }
       
          
    }
    .option-text-or {
        color: #707070;
        padding: 0 5px;
        font-size: 15px;
    }

    .jitsi-icon svg {
        height: 70px;
        width: 70px;
    }

    .content, .inline-content {
        text-align: center;
        padding: 35px 40px;

        h2 {
            color: #393939 !important;
        }

        .form-field {
            font-size: 14px;
            margin: 10px 0 15px;

            .form-label {
                color: #D1D1D1;
                margin-bottom: 10px;
                font-size: 15px;
                text-align: left;
            }

            input.field {
                color: #393939;
                outline-width: 0;
                background: no-repeat padding-box #FFF;
                border: 0px !important;
                border-bottom: 1px solid #70707057 !important;
                border-radius: 0px !important;
                border-radius: 30px;
                opacity: 1;
                height: 35px;
                padding: 0 10px;
                width: 100%;
            }
        }
        input {
            color: #393939;
            outline-width: 0;
            background: no-repeat padding-box #FFF;
            border: 0px;
            border-bottom: 1px solid #70707057;
            border-radius: 0px;
            opacity: 1;
            height: 35px;
            padding: 0 10px;
            width: 100%;
            font-size: 14px;
        }

        .error {
            color: #bc1515;
            padding-bottom: 10px;
        }
    }

    .inline-content {
        padding: 10px 40px 0px;
        h2:first-child {
            color: #00C062 !important;
            padding: 10px;
        }
    }

    .login-page-button {
        &.disabled {
            background: #5497b4;
            cursor: not-allowed;
        }
        width: max-content;
        padding: 0 70px;
        background: #005C85;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        margin: 30px auto 0px auto;
    }
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424 0% 0% no-repeat padding-box;
    opacity: 0.85;
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

.reasonForLogin {
    margin-bottom: 10px;
    font-size: 15px;
    top: 10px;
}