.meetingInfo {
    color: #393939;
    padding: 20px 40px;

    .divider {
        border-bottom: 1px solid #70707057;
        margin: 25px 0px 20px 0px;
    }
    
    .picker-field {
        text-align: center;
        height: 35px;
        border-color: #70707057;
        border-width: 0px;
        border-bottom: 1px solid gray;
    }

    .date-time-popper {
        left: -30px !important;

        .react-datepicker__time-list {
            flex-direction: column !important;
        }
    }

    .mandatory span {
        color: #FF0000;
    }

    .meeting-title {
        font-size: 35px;
        padding: 20px 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .meeting-id, .date-info {
        color: #969696;
        font-size: 14px;
    }

    .you-are-host {
        color: #4D4D4D;
        padding: 20px 0px 20px;
    }

    .date-field-container {
        color: #4D4D4D;
        padding: 10px 0;
    }

    .date-info {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
    }

    .make-private {
        text-align: left;


        input.field {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            position: relative;
            top: 3px;
        }

        .sub-label {
            color: #4D4D4D;
            font-size: 14px;
            opacity: 0.5;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 23px;
          }
          
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 0px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: lightgreen;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px lightgreen;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }

    .meeting-password {
        margin: 15px 30px;

        input.field:disabled {
            border-color: #70707057;
            background-color: #F4F4F4;
            
        }

        .input-message {
            font-style: italic;
            color: #4D4D4D;
            text-align: left;
            padding: 5px;
            font-size: 12px;
        }
    }

    .password-error {
        position: relative;

        input.field {
            border-color: #FF0000
        }

        .error-block {
            color: #FF0000;
            text-align: left;
            position: absolute;
            top: 70px;
        }
    }

    input.field:disabled {
        border-color: #70707057;
        background-color: #F4F4F4;
        
    }
}
