.meetingInfo {
    color: #393939;
    // padding: 20px 40px;
    width: 100%;
    // margin: 0 auto;
    .meeting-detail-info{
        display: flex;
        justify-content: center;
    }
    .detail-heading{
        flex: 0 0 115px;
        color: #9A9A9A;
        text-align: left;
        font-size: 16px;
    }
    .detail-heading-margin {
        margin-top: 20px;
    }
    .detail-heading-value::before{
        content: ':\00a0 \00a0';
    }
    .detail-heading-value{
    margin-left: 10px;
    flex: 0 0 200px;
    text-align: left;
    color: #0a5694;
    font-size: 16px;
    &.password-value{
        max-width: 195px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    }

    .divider {
        border-bottom: 1px solid #70707057;
        margin: 25px 0px 20px 0px;
    }
    
    .picker-field {
       text-align: center;
        height: 35px;
        width: 210px;
        // border-color: #70707057;
        border-width: 0;
        border-radius: 25px;
        border: 1px solid #D1D1D1;
    }

    .date-time-popper {
        left: -30px !important;

        .react-datepicker__time-list {
            flex-direction: column !important;
        }
    }

    .form-field-guest {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 15px; 
        .form-label-guest {
            flex: 0 0 150px;
            text-align: left;
            color: #393939;
            font-size: 15px;
        }
        .field{
            border: 0 !important;
            border-bottom: 1px solid #70707057 !important;
            border-radius: 0px !important;
        }
    }
    .mandatory span {
        color: #FF0000;
    }
    .shareable-meeting-title {
        font-size: 14px;
        // color:#005694;
        padding: 35px 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .meeting-name-schedule {
                max-width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0 auto;
                font-size: 30px;
                color: #005694;
        }
        .meeting-id-schedule {
            color: #005694;
            font-size: 18px;
            margin-bottom: 1%;
        }
    }

    .meeting-created-updated-info {
        padding: 35px 0 0.5%;
        // font-weight: bold;
        font-size: 14px
    }

    .meeting-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color:#005694;
        &.meeting-padding {
            padding: 35px 0 0.5%;
        }
        .input-meeting-wrapper{
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .input-meeting{
            border: 0;
            color: #005694;
            text-align: center;
            width: 200px;
        }
        .edit-icon-wrap{
            margin-left: 10px;
            cursor: pointer;
        }
        .input-meeting:focus{
            border-radius: 10px;
            border: 1px solid lightgray;
        }
    }

    .meeting-id{
        color: #005694;
        font-size: 18px;
        margin-bottom: 2%;
        position: relative;
        // display: flex;
        .meeting-details {
            color: #00C062;
            // position: relative;
            cursor: pointer;
            display: inline-block;
            .meeting-details-arrow {
                position: relative;
                cursor: pointer;
                top: 6px;
                left: 4px;
            }
          
        }
        .meeting-details-container {
            position: absolute;
            z-index: 1;
            opacity: 0.95;
            padding: 10px;
            width: 125%;
            border-radius: 20px;
            left: -14.5%;
            top: 35px;
                        // width: 200px;
            background: #FFFFFF;
            // height: 200px;
            box-shadow: 0px 0px 7px 5px #00000020;
            .coming-from-google-content {
                color: #717274;
                justify-content: flex-end;
                font-weight: 400;
                align-items: center;
                display: flex;
        
                >div {
                    padding: 3px 5px;
                    font-size: 14px;
                    // width: 105px;
                }
                img {
                    height: 45px;
                }
            }
            .description {
                padding-top: 1px;
                font-size: 14px;
                height: 25px;
                line-height: 1.5em;
                color: #393939;
                max-width: 300px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
    
                &.no-content {
                    font-style: italic;
                }
    
                &__modal {
                    flex: 1;
                    border: 1px solid #E2E2E2;
                    padding: 5px;
                    background: #F0F0F2;
                    opacity: 0.9;
                    font-size: 16px;
                    color: black;
                    margin: 10px auto;
                    min-height: 40px;
                    max-height: 110px;
                    width: 90%;
                    overflow: auto;
                    text-align: left;
                    -webkit-user-select: text;
                    user-select: text;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                    background-color: #FAFAFA;
    
    
                    * {
                        all: unset !important;
                    }
    
                    a {
                        text-decoration: underline !important;
                    }
    
                    iframe {
                        border: 0 !important;
                        height: 100% !important;
                        width: 100% !important;
                    }
    
                }
            }    
            &::after {
                content: " ";
                position: absolute;
                opacity: 1;
                bottom: 100%;  /* At the top of the tooltip */
                right: 26%;
                // box-shadow: 0px 0px 5px #00000029;
                margin-left: -8px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }

        }
       
    }
    .date-info {
        color: #969696;
        font-size: 14px;
    }

    .you-are-host-wrapper {
        color: #393939;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 4%;
        display: flex;
        justify-content: space-around;
        .password-wrapper{
            display: flex;
            align-content: center;
            .password-image {
                margin-top: 2px;
            }
            .password-meeting{
                margin-left: 10px;
                // line-height: 1.2;
                &.fade-color{
                    color: #D1D1D1;
                }
                .password-title {
                    display: flex;
                    align-items: center;
                    .password-text {
                        max-width: 50px;
                        margin-left: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

        }
       
    }

    .you-are-host {
      .you-text{
          font-weight: bold;
      }
        // padding: 20px 0px 20px;
    }

    .date-field-container {
        color: #4D4D4D;
        padding: 10px 0;
    }

    .date-info {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
    }

    .make-private {
        text-align: left;
        margin-top: 15px; 

        &.enable-meeting-wrap {
            display: flex;
            justify-content: space-between;
            width: 55%;
            margin: 2% auto;
        }

        .make-private-room {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 15px;
            font-weight: bold;
            width: 55%;
            margin: 2% auto;
            color: #393939;
        }

        .enable-room {
            font-size: 15px;
            font-weight: bold;
            color: #393939;
        }
        input.field {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            position: relative;
            top: 3px;
        }

        .sub-label {
            color: #4D4D4D;
            font-size: 14px;
            opacity: 0.5;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 23px;
          }
          
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: #00C062;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #00C062;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(17px);
            -ms-transform: translateX(17px);
            transform: translateX(17px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 22px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }

    .meeting-password {
        margin: 0 auto;
        width: 48%;
        &.error-password {
            input.field {
                border: 1px solid red;
            }
        }
        input.field {
            text-align: center;
            width: 90% !important;
        }

        input.field:disabled {
            border-color: #70707057;
            background-color: #F4F4F4;
            
        }

        .input-message {
            font-style: italic;
            color: #4D4D4D;
            text-align: center;
            padding: 5px;
            font-size: 12px;
        }
    }

    .password-error {
        position: relative;

        input.field {
            border-color: #FF0000
        }

        .error-block {
            color: #FF0000;
            text-align: left;
            // position: absolute;
            // top: 70px;
        }
    }

    input.field:disabled {
        border-color: #70707057;
        background-color: #F4F4F4;
        
    }
}
