.participants-count {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    


    &__container {
        width: 100%;
        background: #00C062;
        padding: 9px 17px;
        color: #FFF;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
}
