.participants-list {

    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &__header {
        font-size: 14px;
        padding: 0 35px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #E7EFF4;
        //cursor: pointer;

        :first-child {
            flex: 1;
        }
    }

    &__list {
        padding: 0 35px;
        margin: 0;
        list-style-type: none;
        flex: 1;
        overflow: scroll;
    }

    &__mask {
        position: absolute;
        height: 60px;
        width: 100%;
        left: 0;
        background-color: rgba(255,255,255,.5);

        &__hidden {
            display: none;
        }
    }

    &__list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
        border-bottom: 1px solid #EAEAEA;

        /*&:first-child {
            border-top: 1px solid #EAEAEA;
        }*/
        &:last-child {
            border-bottom-width: 0px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        
        button {
            cursor: default;
        }
    }

    &__label {
        display: flex;
        align-items: center;
    }

    &__participant-name {
        padding: 0 10px;
        max-width: 145px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__controls button {
        background: none;
        border: none;
        outline: none;
    }

    &__add {
        border: none;
        background: #EBEBEB;
        color: #444;
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        border-radius: 20px;
        padding: 4px 14px 4px 10px;
        margin: 0 10px; 

        svg {
            fill: #444;
        }
    }

    .hand-raised {
        svg, svg path {
            fill: #00C062;
        }
    }
}

.waiting-list {

    &__header {
        font-size: 14px;
        padding: 0 35px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #E7EFF4;
        cursor: pointer;
        border-bottom: 5px solid #ffffff;

        &.no-action {
            cursor: default;
        }

        :first-child {
            flex: 1;
        }

        .jitsi-icon svg {
            fill: #3a3a3a
        }
    }

    .waiting-actions__all {
        padding: 0 35px;
        display: flex;
        height: 50px;
        //background-color: #F4F4F4;

        .waiting-actions__all__btn {
            outline: 0;
            background-color: #D1D1D1;
            color: #393939;
            margin-right: 5px;
            height: 30px;
            border: 0px solid;
            border-radius: 17px;
            margin: 10px 5px;
            width: 75px;
        }
    }
    
    .waiting-list__content {

        //display: flex;
        //flex-direction: column;

        .participants-list__list {
            padding-top: 0px;
            padding-bottom: 0px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        //background-color: #F4F4F4;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        &.collapsed {
            height: 0px;
        }
    }

    /*.participants-list__list {
        padding: 0 35px;
        background-color: #F4F4F4;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        &.collapsed {
            height: 0px;
        }
    }*/

    .avatarProfile {
        border-radius: 30px;
        font-weight: 100;
        span {
            font-size: 14px;
        }
    }

    .waiting-actions {
        border-radius: 10px;
        height: 25px;
        
        &.reject {
            background-color: rgba(241, 90, 70, 0.21);
            color: rgb(241, 90, 70);
            margin-right: 5px;
            margin-left: 0px;
        }

        &.admit {
            background-color: rgba(0, 192, 99, 0.21);
            color:rgb(0, 192, 99)
        }
    }
}