.prejoin-page-button {
    
    min-width: $welcomePageButtonMinWidth;
    height: $welcomePageButtonHeight;
    font-size: $meetNowButtonFontSize;
    font-weight: $welcomePageButtonFontWeight;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    line-height: $welcomePageButtonLineHeight;
    cursor: pointer;
    padding: 5px;
    margin: 15px auto;
   
    &.next {
        background: #0A5694;
        width: 200px;
        border-radius: $welcomePageButtonBorderRadius;
        font-size: 20px;
        font-weight: 400;
        margin: 4% auto;
        &:hover{
            background: #004C6E;
        }
    }
    &.close{
        background: #0A5694;
        width: 200px;
        border-radius: $welcomePageButtonBorderRadius;
        font-size: 20px;
        font-weight: 400;
        margin: 4% auto;
        margin-bottom: 40px;
        &:hover{
            background: #004C6E;
        }
    }

    &.disabled {
        background: #0A5694;
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.4;
        margin: 4% auto;
    }
    &.guest {
        &.disabled {
            color: #5497b4;
            cursor: not-allowed;
            // border: 1px solid #5497b4;
        }
        font-weight: 700;
        // background: #FFFFFF;
        color: #ffffff;
        width: 330px;
        font-size: 15px;
        margin: 0 auto;
        // border: 1px solid #005C85;
        // border-radius: $welcomePageButtonBorderRadius;
    }
    &.join {
        font-size: 18px;
        background: #0A5694;
        font-weight: 400;
        width: 200px;
        border-radius: $welcomePageButtonBorderRadius;
        &:hover{
            background: #004C6E;
        }
    }
}

.hostPrejoinWrap {
    height: 100%;
    .meet-now-margin-bottom {
        margin-bottom: 102px;
    }
    .meet-now{
        display: flex;
        align-items: center;
        &.meet-now-padding {
            padding: 30px 0px;
            padding-left: 30px;
        }
        .jifmeet-logo {
            width: 250px;
            height: 100px;
            margin: 20px auto;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../images/without-user-logo.png')
        }
        .guest-icon-wrapper{
            background-color: #0A5694;
            padding: 15px;
            border-radius: 50%;
        }
        .meet-now-image-wrapper {
            background-color: #0A5694;
            padding: 15px;
            border-radius: 50%;
            .meet-now-image{
                width: 35px;
            }
        }
        .schedule-image-wrapper{
            background-color: #FEA729;
            padding: 15px;
            border-radius: 50%;
            .schedule-image{
                width: 35px;
            }
        }
        .meet-now-label {
            margin-left: 15px;
            font-size: 25px;
            font-weight: bold;
            color: #0A5694;
        }
    }
        .profileSection {
            right: 20px;
            top: 10px;
            position: fixed;
            cursor: pointer;
        }
        .hostPrejoin-container{
            display: flex;
            height: calc(100% - 123px);
            .background-width {
                flex: 1;
            }
            .left-background-image {
                background-image: url('./../images/left-background-premeeting.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center 75%;
            }
            .right-background-image {
                background-image: url('./../images/right-background-premeeting.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center 75%;
            }

.hostPrejoin {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    flex: 1;
    background-color: white;
    height: fit-content;
    width: 50%;
    // height: 100%;
    min-width: 700px;
    max-width: 1005px;
    border-radius: 40px;
    overflow-y: auto;
    box-shadow: 0px 5px 5px #00000029;
    overflow-x: hidden;
    text-align: center;
    color: #393939;
    .no-account {
        background: #005C85;
        margin-top: 15px;
    }

    .error-block {
        color: #FF0000;
        margin: 0px auto 30px;
        width: 80%;
        margin-left: 80px;
    }

    .invalid-container {
        display: flex;
        flex-direction: column;
        height: 230px;
        justify-content: center;
        align-items: center;
    .invalid-meeting-code {
        margin-top: 10px;
        font-size: 20px;
        color: $defaultWarningColor;
    }
    .redirecting-content {
        margin-top: 10px;
        font-size: 16px;
        color: $defaultWarningColor;
    }

    .invalid-icon {
        .jitsi-icon {
            svg {
                width: 54px;
                height: 54px;
                fill: $defaultWarningColor
            }
        }
    }
}

    .login-message {
        padding-top: 50px;
    }

    .sign-in-link {
        color: #00C062;
    }

    .page-title {
        position: absolute;
        top: 15px;
        font-weight: bold;
        left: 40%;
    }

    .modesSection {
        margin-left: 10px;
        margin-right: 10px; 

        ul {
            border-bottom: 2px solid #C7C7C7 !important;
            height: 35px;
            margin-top: 20px;
            display: flex;
            list-style: none;
            padding: 20px 20px 0;
            text-align: center;
        }

        li {
            flex: 1;
            margin: 0px;
            color: #9A9A9A;
            cursor: pointer;

            &.selected {
                border-bottom: 4px solid #005C85;
                color: #005C85;
            }
        } 

        .cancel {
            cursor: pointer;
            width: 50px;
            color: #393939;
            font-size: 12px;
            margin: 25px auto;

            &:hover {
                color: #659CB5;
            }
        }
    }

    .jitsi-icon {

        &.backArrow {
            top: 36px;
            display: block;
            box-sizing: border-box;
            position: absolute;
            left: 30px;
            cursor: pointer;

            svg {
                height: 28px;
                width: 28px;
            }
        }
        
        svg {
            fill: #393939;
        }
    }
    
    .option-text-or {
        color: #707070;
        font-size: 15px;
    }

    .waiting-display {
        color: #393939;
        .waiting-content{
            margin: 30px;
            .request-content {
                font-size: 24px;
            color: #393939;
        }
        .jitsi-icon svg {
            margin-top: 50px;
            animation-name: ckw;
            animation-duration: 15.5s;
            /* Things added */
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            display: inline-block;
            /* <--- */
        }
        @keyframes ckw {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    }
    
}
        }
}

@media only screen and (max-width: 1200px) {
    .hostPrejoinWrap {
        .hostPrejoin-container {
       .left-background-image {
            background-image: none;
       }
       .right-background-image {
           background-image: none;
       }
    }
    }
}
.shareMeetingWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
.shareMeeting {
    .label {
        font-size: 20px;
        // padding: 0 0 15px;
    }

    .share-meeting-details {
        // padding: 20px 0px;
        display: flex;
        margin-bottom: 15px;
        align-items: center;

        .label {
            font-size: 16px;
            font-weight: 500;
            margin-right: 30px;
            color: #9A9A9A;
        }

        .modalities {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 220px;

            .Copy-Link {
                cursor: pointer;
            }
            // div {
            //     margin-right: 20px;
            // }
        }
    }
    
    
}
}
.prejoin {

    &-input-area {
        margin: 0 auto;
        text-align: center;
        width: 320px;
    }

    &-title {
        color: #fff;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    &-text-btns {
        display: flex;
        justify-content: space-between;
    }

    &-input-label {
        color: #A4B8D1;
        font-size: 13px;
        line-height: 20px;
        margin-top: 32px 0 8px 0;
        text-align: center;
        width: 100%;
    }

    &-checkbox {
        border: 0;
        height: 16px;
        margin-right: 8px;
        padding: 0;
        width: 16px;
    }

    &-checkbox-container {
        align-items: center;
        color: #fff;
        display: none;
        font-size: 13px;
        justify-content: center;
        line-height: 20px;
        margin-top: 16px;
        width: 100%;
    }
}

@mixin name-placeholder {
    color: #fff;
    font-weight: 300;
    opacity: 0.6;
}

.prejoin-preview {
    height: 100%;
    position: absolute;

    &--no-video {
        background: radial-gradient(50% 50% at 50% 50%, #5B6F80 0%, #365067 100%), #FFFFFF;
        text-align: center;
    }

    &-video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }

    &-name {
        color: #fff;
        font-size: 19px;
        line-height: 28px;

        &--editable {
            background: none;
            border: 0;
            border-bottom: 1px solid #D1DBE8;
            margin: 24px 0 16px 0;
            outline: none;
            text-align: center;
            width: 100%;

            &::-webkit-input-placeholder {
                @include name-placeholder;
            }
            &::-moz-placeholder {
                @include name-placeholder;
            }
            &:-ms-input-placeholder {
                @include name-placeholder;
            }
        }

        &--text {
            margin: 16px 0;
            outline: none;
        }
    }

    &-avatar.avatar {
        background: #A4B8D1;
        margin: 200px auto 0 auto;
    }

    &-overlay {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    &-bottom-overlay {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        bottom: 0;
        height: 50%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &-status {
        align-items: center;
        align-self: stretch;
        color: #fff;
        display: flex;
        font-size: 13px;
        min-height: 24px;
        justify-content: center;
        text-align: center;
        z-index: 1;

        &--warning {
            background: rgba(241, 173, 51, 0.7)
        }
        &--ok {
            background: rgba(49, 183, 106, 0.7);
        }
    }

    &-icon {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

    &-error-desc {
        margin-right: 4px;
    }

    .settings-button-container {
        width: 49px;
        margin: 0 8px;
    }

    &-dropdown-btns {
        width: 320px;
        padding: 8px 0;
    }

    &-dropdown-btn {
        align-items: center;
        color: #1C2025;
        cursor: pointer;
        display: flex;
        height: 40px;
        font-size: 15px;
        line-height: 24px;
        padding: 0 16px;

        &:hover {
            background-color: #DAEBFA;
        }
    }

    &-dropdown-icon {
        display: inline-block;
        margin-right: 16px;

        & > svg {
            fill:  #1C2025;
        }
    }

    &-dropdown-container {
        & > div > div:nth-child(2) > div > div {
            background: #fff;
            padding: 0;
        }
    }

}
.invite-icon {
    cursor: pointer;
}
