.subject {
    top: 190px;
    left: 50%;
    transition: opacity .3s ease-in;
    transform: translateX(-50%);
    min-height: 48px;
    height: auto;
    width: auto;
    pointer-events: none;
    position: absolute;
    padding: 8px 25px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    z-index: $zindex10;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    background: rgba(#000000, 0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 101px;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    &.gradient {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    &-text {
        vertical-align: middle;
    }

    &-conference-timer {
        display: block;
        font-size: 15px;
        opacity: 0.6;
    }
}
