.userProfile {
    width: 160px;
    height: 50px;
    // background: #E7EFF4 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    position: relative;
    line-height: 35px;
    font-size: 14px;
    &:hover{
        border-radius: 30px;
        background-color: #f6f6f6;
            .avatarProfile{
                border: 3px solid #8FC3C3;
                background: #3BA157 !important;
            }
            .userName{
                color: #307A9C;
            }
        
    }

    .avatarProfile {
        background: rgb(103, 174, 63) !important;
        border-radius: 30px;
        border: 3px solid #E7EFF4;
        position: absolute;
        // left: -2px;
        right: 0px;
        top: -4px;
    }

    .userName {
        text-align: right;
        float: left;
        // margin-left: 65px;
        width: 90px;
        margin-top: 5px;
        white-space: nowrap;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0 0;
        color: #393939;
    }

    .menuIcon {
        padding: 10px 0 5px;
        float: left;

        .jitsi-icon svg {
            fill: #005C85;
        }

        .profileMenu {

            &::after {
                content: " ";
                position: absolute;
                opacity: 1;
                bottom: 100%;  /* At the top of the tooltip */
                right: 10px;
                margin-left: -8px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }

            position: absolute;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0 2px 15px #aeaeae;
            color: #393939;
            list-style: none;
            right: 5px;
            padding: 5px 20px;
            width: 100px;
            text-align: left;
            top: 50px;
            z-index: 200;

            li {
                height: 30px;
                padding: 2px 0px 0px;
            }

            .jitsi-icon {
                float: left;
            }

            .menuLabel {
                position: relative;
                top: -5px;
                left: 15px;
            }
        }
    }
}