%align-right {
    @include flex();
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.horizontal-filmstrip .filmstrip {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    @extend %align-right;
    transition: transform .3s;
    z-index: $filmstripVideosZ;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    flex-direction: column;
    transform: translateY(-40px);

    .remotevideomenu
    {
        z-index: 5;

        & > div > div > div > div > div {
            top: unset !important;
            left:unset !important;
        }
    }

    /*
     * Firefox sets flex items to min-height: auto and min-width: auto,
     * preventing flex children from shrinking like they do on other browsers.
     * Setting min-height and min-width 0 is a workaround for the issue so
     * Firefox behaves like other browsers.
     * https://bugzilla.mozilla.org/show_bug.cgi?id=1043520
     */
     @mixin minHWAutoFix() {
        min-height: 0;
        min-width: 0;
    }

    &.reduce-height {
        // top: calc(#{$newToolbarSizeWithPadding} + #{$scrollHeight});
        // top: -40px;
        transform: translateY(0px);
    }

    &__videos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 13px 25px;
        // border-radius: 14px 0px 6px 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        opacity: 1;
        position: relative;
        overflow: hidden;
        // padding-left: 70px;
        padding: 5px 1rem;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            // filter: blur(1rem);
            background: rgba($color: #000000, $alpha: .20);
            position: absolute;
            left: 0;
            top: 0;
            transition: transform .3s .2s;
        }
    }

   

    &__actions {
        position: absolute;
        left: 0;
        height: 100%;
        display: flex;
        z-index: 1;

        svg path {
            fill: #FFF !important;
        }
    }

    &__collapse-btn {
        width: 39px;
        background: #00C062;
        border: none;
        // border-top-right-radius: 6px;
        // border-bottom-right-radius: 6px;
        outline: none;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__strip-holder {
        display: flex;
        align-items: center;
        // justify-content: center;
        z-index: 0;
        transition: transform .3s;
        padding: 4px 0;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar-thumb {
            background-color: #D1D1D1;
            border-radius: 20px;
            border: 3px solid #D1D1D1;
          }
    }

    &__videos-container--collapsed::before {
        opacity: 0;
    }

    &__videos-container--collapsed .filmstrip__strip-holder {
        transform: translateY(-150%);   
    }

    &__videos-container--collapsed .filmstrip__collapse-btn svg {
        transform: rotate(180deg);
    }


    &__toolbar {
        display: none;
    }

    &__videos {
        @extend %align-right;
        position:relative;
        padding: 0;
        /* The filmstrip should not be covered by the left toolbar. */
        bottom: 0;
        width:auto;
        overflow: visible !important;

        &#remoteVideos {
            transition: bottom 2s;
            flex-grow: 1;
            @include minHWAutoFix();
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        /**
         * The local video identifier.
         */
        &#filmstripLocalVideo {
            align-self: flex-end;
            display: block;
            // margin-bottom: 8px;
        }

        &.hidden {
            bottom: calc(-196px - #{$newToolbarSizeWithPadding});
        }

        .remote-videos-container {
            display: flex;
        }
    }

    /**
     * Style the filmstrip videos in filmstrip-only mode.
     */
    &__videos-filmstripOnly {
        margin-top: auto;
        margin-bottom: auto;

        .filmstrip__videos {
            &#filmstripLocalVideo {
                bottom: 0px;
            }
        }
    }

    .remote-videos-container {
        transition: opacity 1s;
    }

    &.hide-videos {
        // transform: translateY(-110%);
        .remote-videos-container {
            // opacity: 0;
            pointer-events: none;
        }
    }

    #filmstripRemoteVideos {
        @include minHWAutoFix();
        display: flex;
        width: auto;
        justify-content: flex-end;
        flex-direction: row;
        min-width: unset;

        #filmstripRemoteVideosContainer {
            flex-direction: row-reverse;
            /**
             * Add padding as a hack for Firefox not to show scrollbars when
             * unnecessary.
             */
            //padding: 1px 0;
            overflow: hidden;
        }
    }

    .videocontainer {
        &.active-speaker {
            border: 4px solid #00C062;
            box-sizing: border-box;
        }
    }
}


/**
 * Workarounds for Edge and Firefox not handling scrolling properly with
 * flex-direction: row-reverse.
 */
 @mixin undoRowReverseVideos() {
    .horizontal-filmstrip {
        #remoteVideos #filmstripRemoteVideos #filmstripRemoteVideosContainer {
            flex-direction: row;
        }
    }
}

/** Firefox detection hack **/
@-moz-document url-prefix() {
    @include undoRowReverseVideos();
}

/** Edge detection hack **/
@supports (-ms-ime-align:auto) {
    @include undoRowReverseVideos();
}
